# Turso stuff is optional if use_turso_db is false
# Pusher is required
NEXT_PUBLIC_PUSHER_APP_KEY=1d1d1d
NEXT_PUBLIC_PUSHER_CLUSTER=us1
PUSHER_APP_ID=123456
PUSHER_SECRET=1d28
USE_LOCAL=false
TURSO_AUTH_TOKEN="abc-long-auth-token-xyz"
TURSO_DATABASE_URL="libsql://database-name.long-database-url"